/* Styles */


/*by nabil*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter:brightness(30%);
}


/*by nabil*/


/*jb*/

.align-by-margin {
    margin: 1vh auto;
    color: white !important;
}

.align-by-margin a {
    color: white !important;
}